<div class="container mb-3" style="margin-top: 63px">
  <h1 class="text-primary my-4">Dashboard</h1>
  <div class="card mb-4 py-2" style="background: #FEF6EF; border-radius: 10px; border-color: #8E5018">
    <div class="d-flex">
      <%= cl_image_tag @user.photo.key, gravity: :face, class: "rounded-circle m-4 border border-secondary-subtle border-opacity-50 my-auto", style: "width: 140px; object-fit: cover; height: 140px;" %>
      <div class="card-body">
        <h5 class="card-title fw-bold fs-3"><%= @user.first_name %> <%= @user.last_name %></h5>
        <p class="card-text mb-1">Membre de Planty depuis <%= @user.created_at.year %></p>
        <p class="card-text mb-1"><%= @user.address %></p>
        <p class="card-text"><%= @user.email %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card shadow" style="border-radius: 10px">
        <div class="card-body">
          <h5 class="card-title fw-bold fs-3 border-bottom pb-3 text-center text-primary">Tes plantes</h5>
          <% @own_plants.each do |plant| %>
            <div class="d-flex mt-4">
              <%= cl_image_tag plant.photos.first.key, class: "rounded-circle m-4 my-auto", style: "width: 50px; object-fit: cover; height: 50px;" %>
              <%= link_to plant.name, plant_path(plant), class: "text-dark text-decoration-none align-self-center" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow" style="border-radius: 10px">
        <div class="card-body">
          <h5 class="card-title fw-bold fs-3 border-bottom pb-3 text-center text-primary">Demandes de location</h5>
          <% @own_plants.each do |plant| %>
            <% requests = plant.rentings %>
            <% requests.each do |request| %>
              <div class="d-flex mt-4">
                <% if request.status == 'Demande en attente' %>
                  <i class="fa-solid fa-circle align-content-around" style="color: #EDD245"></i>
                  <button class="btn btn-link text-start text-decoration-none text-dark" data-bs-target="#rentingRequestPending-<%=request.id %>" data-bs-toggle="modal" type="button"><%= request.status %> pour <%= plant.name %></button>
                <% elsif request.status == 'Demande acceptée' %>
                  <i class="fa-solid fa-circle align-content-around" style="color: #34CA55"></i>
                  <button class="btn btn-link text-start text-decoration-none text-dark" data-bs-target="#rentingRequestAccepted" data-bs-toggle="modal" type="button"><%= request.status %> pour <%= plant.name %></button>
                <% else %>
                  <i class="fa-solid fa-circle align-content-around" style="color: #CA5834"></i>
                  <button class="btn btn-link text-start text-decoration-none text-dark" data-bs-target="#rentingRequestRefused" data-bs-toggle="modal" type="button"><%= request.status %> pour <%= plant.name %></button>
                <% end %>
                <!-- Modal Pending -->
                <div class="modal fade" id="rentingRequestPending-<%=request.id %>" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content px-3">
                      <div class="modal-header">
                        <h1 class="modal-title fs-4 fw-bold text-primary" id="modalTitle"><%= request.status %> pour <%= plant.name %></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="d-flex border border-secondary-subtle py-3" style="border-radius: 10px">
                          <%= cl_image_tag request.user.photo.key, gravity: :face, class: "rounded-circle m-4 border border-secondary-subtle border-opacity-50 my-auto", style: "width: 100px; object-fit: cover; height: 100px;" %>
                          <div class="div">
                            <p class="fs-3 m-0 text-dark-emphasis"><%= request.user.first_name %> <%= request.user.last_name %></p>
                            <p class="fst-italic m-0">Je veux louer ta plante</p>
                            <div class="d-flex">
                              <p class="fw-bold m-0 pe-2">Date de début :</p>
                              <p class="m-0"><%= request.start_date.day %>/<%= request.start_date.month %>/<%= request.start_date.year %></p>
                            </div>
                            <div class="d-flex">
                              <p class="fw-bold m-0 pe-2">Date de fin :</p>
                              <p class="m-0"><%= request.end_date.day %>/<%= request.end_date.month %>/<%= request.end_date.year %></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center mb-4">
                        <%= link_to "Refuser", deny_renting_path(request), data: { 'turbo-method' => :patch }, class: "btn me-5 rounded-pill",
                                                                                        style: "background: #F6CCCC;
                                                                                                width: 120px;
                                                                                                color: #CA5834" %>
                        <%= link_to "Accepter", accept_renting_path(request), data: { 'turbo-method' => :patch },
                                                                              class: "btn btn-primary ms-5 rounded-pill text-white",
                                                                              style: "width: 120px" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow" style="border-radius: 10px">
        <div class="card-body">
          <h5 class="card-title fw-bold fs-3 border-bottom pb-3 text-center text-primary">Plantes louées</h5>
          <% @rentings.each do |renting| %>
            <div class="d-flex border border-secondary-subtle py-2 mb-2" style="border-radius: 10px">
              <%= cl_image_tag renting.plant.photos.first.key, class: "rounded-circle m-4 my-auto", style: "width: 50px; object-fit: cover; height: 50px;" %>
              <div>
                <p class="m-0 fw-bold"><%= renting.plant.name %></p>
                <p class="m-0"><%= renting.start_date.day %>/<%= renting.start_date.month %>/<%= renting.start_date.year %> - <%= renting.end_date.day %>/<%= renting.end_date.month %>/<%= renting.end_date.year %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
