<div class="container my-3">
  <h1 class="text-primary my-4">Dashboard</h1>
  <div class="card mb-4 py-2" style="background: #FEF6EF; border-radius: 10px">
    <div class="d-flex">
      <%= cl_image_tag @user.photo.key, gravity: :face, class: "rounded-circle m-4 border border-secondary-subtle border-opacity-50 my-auto", style: "width: 140px; object-fit: cover; height: fit-content;" %>
      <div class="card-body">
        <h5 class="card-title fw-bold fs-3"><%= @user.first_name %> <%= @user.last_name %></h5>
        <p class="card-text mb-1">Membre de Planty depuis <%= @user.created_at.year %></p>
        <p class="card-text mb-1"><%= @user.address %></p>
        <p class="card-text"><%= @user.email %></p>
      </div>
    </div>
  </div>

  <h2>Tes plantes</h2>
  <ul>
    <% @own_plants.each do |plant| %>
      <li><%= link_to plant.name, plant_path(plant) %></li>
    <% end %>
  </ul>
  <h2>Demandes de location</h2>
  <ul>
    <% @own_plants.each do |plant| %>
      <% requests = plant.rentings %>
      <% requests.each do |request| %>
        <li><%= request.status %> pour <%= plant.name %></li>
      <% end %>
    <% end %>
  </ul>
  <h2>Plantes louées</h2>
  <ul>
    <% @rentings.each do |renting| %>
      <p><%= renting.plant.name %></p>
      <p><%= renting.start_date.day %>/<%= renting.start_date.month %>/<%= renting.start_date.year %> - <%= renting.end_date.day %>/<%= renting.end_date.month %>/<%= renting.end_date.year %></p>
    <% end %>
  </ul>
</div>
