
<div class="container-banner">
  <div class="banner">
      <nav class="searchbar-index d-flex justify-content-center align-items-center position-relative">
        <div class="input-wrapper position-relative">
          <input type="text" class="form-control-index" placeholder="Trouvez votre plante ! ">
          <button class="clear-btn" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); border: none; background: none;">x
          </button>
        </div>
      </nav>
    </div>
</div>

<div class="container-card-index">
  <% @plants.each_with_index do |plant, index| %>
    <div class="card-index">
      <div id="carouselExample<%= index + 1 %>" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% plant.photos.each_with_index do |photo, img_index| %>
            <div class="carousel-item <%= 'active' if img_index == 0 %>">
              <%= cl_image_tag photo.key, class: "d-block w-100 good-image" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample<%= index + 1 %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample<%= index + 1 %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-index-body">
        <h5 class="card-index-title"><%= plant.name %></h5>
        <p class="card-index-text"><%= plant.description %></p>
        <a href="<%= plant_path(plant) %>" class="btn btn-primary"> Détails </a>
      </div>
    </div>
  <% end %>
</div>
