<div class="container-banner" style="margin-top: 60px">
  <div class="banner">
    <nav class="searchbar-index d-flex justify-content-center align-items-center position-relative">
      <div class="input-wrapper position-relative">
        <%= form_tag plants_path, method: :get, class: "form-inline" do %>
          <%= text_field_tag :query, params[:query], class: "form-control-index", placeholder: "Trouvez votre plante !" %>
          <button class="clear-btn" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); border: none; background: none;">x</button>
        <% end %>
      </div>
    </nav>
  </div>
</div>

<div class="container-filter">
  <div class="banner-filter container-fluid d-flex align-items-center">
    <%= link_to plants_path(filter: params[:filter] == "Purificateur" ? nil : "Purificateur", query: params[:query]), class: "filter-link" do %>
      <button class="filter-btn filter-btn1 <%= 'active' if params[:filter] == 'Purificateur' %>"></button>
      <p class="filter-text">Purificateur</p>
      <%= content_tag :div, '', class: "filter-bar #{'active-bar' if params[:filter] == 'Purificateur'}" %>
    <% end %>

    <%= link_to plants_path(filter: params[:filter] == "Humidificateur" ? nil : "Humidificateur", query: params[:query]), class: "filter-link" do %>
      <button class="filter-btn filter-btn2 <%= 'active' if params[:filter] == 'Humidificateur' %>"></button>
      <p class="filter-text">Humidificateur</p>
      <%= content_tag :div, '', class: "filter-bar #{'active-bar' if params[:filter] == 'Humidificateur'}" %>
    <% end %>

    <%= link_to plants_path(filter: params[:filter] == "Déhumidificateur" ? nil : "Déhumidificateur", query: params[:query]), class: "filter-link" do %>
      <button class="filter-btn filter-btn3 <%= 'active' if params[:filter] == 'Déhumidificateur' %>"></button>
      <p class="filter-text">Déhumidificateur</p>
      <%= content_tag :div, '', class: "filter-bar #{'active-bar' if params[:filter] == 'Déhumidificateur'}" %>
    <% end %>

    <%= link_to plants_path(filter: params[:filter] == "Remonte l'humeur" ? nil : "Remonte l'humeur", query: params[:query]), class: "filter-link" do %>
      <button class="filter-btn filter-btn4 <%= 'active' if params[:filter] == "Remonte l'humeur" %>"></button>
      <p class="filter-text">Remonte l'humeur</p>
      <%= content_tag :div, '', class: "filter-bar #{'active-bar' if params[:filter] == "Remonte l'humeur"}" %>
    <% end %>

    <%= link_to plants_path(filter: params[:filter] == "Tropical" ? nil : "Tropical", query: params[:query]), class: "filter-link" do %>
      <button class="filter-btn filter-btn5 <%= 'active' if params[:filter] == 'Tropical' %>"></button>
      <p class="filter-text">Tropical</p>
      <%= content_tag :div, '', class: "filter-bar #{'active-bar' if params[:filter] == 'Tropical'}" %>
    <% end %>

    <%= link_to plants_path(filter: params[:filter] == "Grasse" ? nil : "Grasse", query: params[:query]), class: "filter-link" do %>
      <button class="filter-btn filter-btn6 <%= 'active' if params[:filter] == 'Grasse' %>"></button>
      <p class="filter-text">Grasse</p>
      <%= content_tag :div, '', class: "filter-bar #{'active-bar' if params[:filter] == 'Grasse'}" %>
    <% end %>
  </div>
</div>


<div class="container-card-index">
  <% @plants.each_with_index do |plant, index| %>
    <div class="card-index">
      <div id="carouselExample<%= index + 1 %>" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% plant.photos.each_with_index do |photo, img_index| %>
            <div class="carousel-item <%= 'active' if img_index == 0 %>">
              <%= cl_image_tag photo.key, class: "d-block w-100 good-image" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample<%= index + 1 %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample<%= index + 1 %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-index-body">
        <h5 class="card-index-title"><%= plant.name %></h5>
        <p class="card-index-text"><%= plant.description %></p>
      </div>
      <div class="details-price-card-index container-fluid d-flex align-items-end justify-content-between">
        <a href="<%= plant_path(plant) %>" class="btn btn-primary mb-1">Détails</a>
        <p class="card-index-price mb-0"><%= plant.price %>€ / par jour</p>
      </div>
    </div>
  <% end %>
</div>

<div class="pagination-index d-flex justify-content-center align-items-center">
  <% (1..@total_pages).each do |page| %>
    <a href="<%= plants_path(page: page, filter: params[:filter]) %>" class="pagination-index-link <%= 'active' if page == @page %>">
      <%= page %>
    </a>
  <% end %>
</div>
