<div class="mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <nav class="navbar fixed-top">
      <div class="container-fluid d-flex align-items-center justify-content-between">
        <a class="navbar-brand">Planty</a>
        <div class="container-button d-flex align-items-center">
          <%= link_to new_plant_path  do %>
            <button class="create-btn"> Créer une annonce </button>
          <% end %>
          <button class="profil-btn"></button>
        </div>
      </div>
    </nav>
  </div>
</div>


<div class="container-banner">
  <div class="banner">
      <nav class="searchbar d-flex justify-content-center align-items-center position-relative">
        <div class="input-wrapper position-relative">
          <input type="text" class="form-control" placeholder="Find the plant you need!">
          <button class="clear-btn" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); border: none; background: none;">x
          </button>
        </div>
      </nav>
    </div>
</div>

<div class="container-card-index">
  <% @plants.each_with_index do |plant, index| %>
    <div class="card-index">
      <div id="carouselExample<%= index + 1 %>" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% plant.images.each_with_index do |image, img_index| %>
            <div class="carousel-item <%= 'active' if img_index == 0 %>">
              <img src="<%= image.url %>" class="d-block w-100" alt="...">
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample<%= index + 1 %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample<%= index + 1 %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-index-body">
        <h5 class="card-index-title"><%= plant.title %></h5>
        <p class="card-index-text"><%= plant.content %></p>
        <a href="<%= plant_path(plant) %>" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <% end %>
</div>
