
<div class="container mt-5" style="margin-top: 63px">
  <h1><%= @plant.name %></h1>
      <div class="row">
          <!-- Left Content -->
          <div class="col-md-8">
              <div class="card mb-3">
                    <!-- Carrousel -->
                <div id="carouselExample<%= @plant.id %>" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <% @plant.photos.each_with_index do |photo, img_index| %>
                      <div class="carousel-item <%= 'active' if img_index == 0 %>">
                        <%= cl_image_tag photo.key, class: "d-block w-100 custom-carousel-image", crop: "pad", width: 750, height: 375, background: "auto", alt: @plant.name %>
                      </div>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample<%= @plant.id %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample<%= @plant.id %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <!-- Fin du Carrousel -->
                <div class="card-show">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title text-success"> <%= @plant.name %>
                      </h5>
                          <% if @plant.user == @user %>
                        <%= link_to 'EDIT', edit_plant_path(@plant), class: 'btn btn-primary', type: 'button'%>
                          <% end %>
                    </div>
                      <p class="card-text text-muted"> <%= @plant.category %> </p>
                      <p class="card-text">
                          <%= @plant.description %>
                      </p>
                      <div class="d-flex align-items-center">
                          <img src="https://via.placeholder.com/50" class="rounded-circle me-2" alt="Owner">
                          <div>
                              <strong> <%= @plant.user.first_name %> </strong><br>
                              <small>Membre de Planty depuis <%= @plant.user.created_at.year %></small><br>
                              <small><%= @plant.user.address %></small>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-4">
  <!-- Card pour la carte -->
  <% if @plant.user.latitude && @plant.user.longitude %>
    <div class="card shadow-sm p-3 mb-1 bg-white rounded">
      <div id="map" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"  data-map-markers-value="<%= @markers.to_json %>"
       style="height: 165px;"></div>
    </div>
  <% else %>
    <div class="card shadow-sm p-3 mb-3 bg-white rounded">
      <p>L'adresse n'a pas pu être géocodée.</p>
    </div>
  <% end %>

  <!-- Card pour le calendrier -->
  <div class="card shadow-sm p-3 mt-5 bg-white rounded">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="text-success"><%= (@plant.price) %>€ par jour</h4>
    </div>
    <div class="form-group" data-controller="dynamic-booking-price" data-dynamic-booking-price-price-value="<%= @plant.price %>">
      <%= simple_form_for([@plant, @renting], html: { data: { controller: 'datepicker' } }) do |f| %>
        <div class="mb-3">
          <%= f.input :start_date, as: :string, label: "Date de début :", input_html: {
            class: "form-control text-center",
            data: {
              datepicker_target: 'startDateInput',
              dynamic_booking_price_target: 'startDateInput',
              action: 'change->dynamic-booking-price#updatePrice'
            }
          } %>
        </div>
        <div class="mb-3">
          <%= f.input :end_date, as: :string, label: "Date de fin :", input_html: {
            class: "form-control text-center",
            data: {
              datepicker_target: 'endDateInput',
              dynamic_booking_price_target: 'endDateInput',
              action: 'change->dynamic-booking-price#updatePrice'
            }
          } %>
        </div>
        <% if @plant.user != @user %>
          <div class="d-grid">
            <%= f.submit 'Réserver', class: 'btn btn-primary btn-lg mb-3' %>
          </div>
        <% end %>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <h5>Total</h5>
          <h4><span data-dynamic-booking-price-target="priceHolder"><%=(@plant.price) %>€</span></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>


      </div>
  </div>
