<h1><%= @plant.name %></h1>

  <div class="container mt-5">
        <div class="row">
            <!-- Left Content -->
            <div class="col-md-8">
                <div class="card mb-3">
                    <img src="https://via.placeholder.com/750x300" class="card-img-top" alt="...">
                  <div class="card-show">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <h5 class="card-title text-success"> <%= @plant.name %></h5>
                        <%# <% if @plant.user == @user %> %>
                           <button class="btn btn-primary"  type="button"> Edit</button>
                      </div></h5>
                        <p class="card-text text-muted"> <%= @plant.category %> </p>
                        <p class="card-text">
                            <%= @plant.description %>
                        </p>
                        <div class="d-flex align-items-center">
                            <img src="https://via.placeholder.com/50" class="rounded-circle me-2" alt="Owner">
                            <div>
                                <strong> <%= @plant.user.first_name %> </strong><br>
                                <small>Membre de Planty depuis <%= @plant.user.created_at.year %></small><br>
                                <small><%= @plant.user.address %></small>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Right Content -->
            <div class="col-md-4">
                <div class="price-box">
                    <h4> <% "#{@plant.price} par jour" %></h4>
                      <div class="form_show">
                        <div class="mb-3">
                          <%= simple_form_for([@plant, @renting], html: {
                            data: { controller: 'datepicker' }}) do |f| %>
                              <%= f.input :start_date, as: :string,  input_html: { data: { datepicker_target: 'startDateInput'} } %>
                              <%= f.input :end_date, as: :string, input_html: { data: { datepicker_target: 'endDateInput'} } %>
                              <%= f.submit 'Book now!', class: 'btn btn-primary' %>
                            <% end %>
                        </div>
                      </div>
                    <hr>
                    <h4>Total <span class="float-end">54€</span></h4>
                </div>
            </div>
        </div>
    </div>
